<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script  src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <input class ="message" type="text" name="message" id="">
        <button onclick="sendMessage()">Send Message</button>
        <h1></h1>
        <script src="" async defer></script>
        <script>
            const socket = io("http://localhost:3000")
            socket.on("connection")

            socket.on("message",(data)=>{
                document.querySelector("h1").innerHTML = data
            })

            const sendMessage = ()=>{
                const messageInput = document.querySelector(".message").value
                
                socket.emit("message",messageInput)
            }
        </script>
    </body>
</html>